body {
    background-color: #faedcd;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}
#nav-top {
    background-color: #d4a373;
}
#logo {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1.2rem;
    margin: 0;
    padding: 1rem 2rem;
}
#nav-bottom {
    background-color: #dee2e6;
    display: flex;
}
#nav-bottom ul {
    display: flex;
}
#nav-bottom li {
    color: #495057;
    list-style: none;
    padding: 0 1rem;
}
#nav-bottom li:nth-of-type(1) {
    padding-left: 0;
}
#nav-bottom li:hover {
    cursor: pointer;
    color: white;
}
@media (max-width: 660px) {
    #nav-bottom ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #nav-bottom li {
        color: #495057;
        list-style: none;
        padding: 1rem;
        border-bottom: 1px solid black;
    }
    #nav-bottom li:nth-of-type(1) {
        padding-left: 1rem;
    }
}


